@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Elham Masoudi</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <button onclick="myMove()">The Pink Square! Click Here!</button>
</p>
<div id="myContainer">
    <div id="myAnimation"></div>
</div>
